[Unit]
Description=TV Ripper

[Service]
User=vince
Group=vince
WorkingDirectory=/opt/tvrip
ExecStart=python3 tvrip.py

[Install]
WantedBy=multi-user.target
